@model Customer

<div class="banner">
    <!-- here the bg  -->

    <a asp-controller="Account" asp-action="EditCustomerProfile" class="edit-btn no-decor ">
        <span class="material-symbols-outlined"> edit </span>
        <p>Edit profile</p>
    </a>
</div>
<div class="wrapper-content">
    <div class="container responsive-timeline-container">
        <aside class="profile item-responsive item-1">
            <img src="avatar.png" class="avatar" alt="profile image">
            <h1>Name</h1>
            <p>BIO HERE</p>

            <ul class="list">
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">calendar_month</span>Born the 19th of December 1998</li>
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">schedule </span>Joined October 2020 </li>
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">location_on </span> Rio de Janeiro, Brasil</li>
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">school </span>SVU - Computers and Information</li>
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">groups</span>Teams</li>

                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">business_center </span>space in which he works "for staff"</li>
                <li><span class="material-symbols-outlined" style="font-size: 1.4rem;">apartment</span>space he owns "for provider"</li>
            </ul>
        </aside>
        <section class="timeline item-responsive item-2">
            <h2>My booking</h2>
            <br> <br>

            <!-- 1- user booking starts -->
            <div class="flex booking-container">
                <div class="book-date"><div class="big-num">14</div> <div class="month">OCT</div></div>
                <div class="book-detail">
                    <div class="booking-title"><a href="#" class="no-decor">Hall Name</a></div>
                    <div class="flex">
                        <div class="book-date-detailed">
                            <span>Day</span>
                            <span>hour</span>
                            <span class="small-font">( Duration )</span>
                        </div>
                        <div class="book-place flex">
                            <span class="material-symbols-outlined"> location_on </span>
                            <p>space name</p>
                        </div>
                        <button type="button" class="book-btn-accepted btn btn-primary">accepted</button>
                        <!-- <button type="button" class="book-btn-accepted rejected">Rejected</button> -->
                        <!-- <button type="button" class="book-btn-accepted cancelled">Cancelled</button> -->
                    </div>
                </div>
                <!-- <div class="book-btn-container">
                </div> -->
            </div>
            <!-- user booking ends -->
            <!-- 2- user booking starts -->
            <div class="flex booking-container">
                <div class="book-date"><div class="big-num">14</div> <div class="month">OCT</div></div>
                <div class="book-detail">
                    <div class="booking-title"><a href="#" class="no-decor">Hall Name</a></div>
                    <div class="flex">
                        <div class="book-date-detailed">
                            <span>Day</span>
                            <span>hour</span>
                            <span class="small-font">( Duration )</span>
                        </div>
                        <div class="book-place flex">
                            <span class="material-symbols-outlined"> location_on </span>
                            <p>space name</p>
                        </div>
                        <!-- <button type="button" class="book-btn-accepted btn btn-primary">accepted</button> -->
                        <button type="button" class="book-btn-accepted rejected">Rejected</button>
                        <!-- <button type="button" class="book-btn-accepted cancelled">Cancelled</button> -->
                    </div>
                </div>
                <!-- <div class="book-btn-container">
                </div> -->
            </div>
            <!-- user booking ends -->
            <!-- 3- user booking starts -->
            <div class="flex booking-container">
                <div class="book-date"><div class="big-num">14</div> <div class="month">OCT</div></div>
                <div class="book-detail">
                    <div class="booking-title"><a href="#" class="no-decor">Hall Name</a></div>
                    <div class="flex">
                        <div class="book-date-detailed">
                            <span>Day</span>
                            <span>hour</span>
                            <span class="small-font">( Duration )</span>
                        </div>
                        <div class="book-place flex">
                            <span class="material-symbols-outlined"> location_on </span>
                            <p>space name</p>
                        </div>
                        <!-- <button type="button" class="book-btn-accepted btn btn-primary">accepted</button> -->
                        <!-- <button type="button" class="book-btn-accepted rejected">Rejected</button> -->
                        <button type="button" class="book-btn-accepted cancelled">Cancelled</button>
                    </div>
                </div>
                <!-- <div class="book-btn-container">
                </div> -->
            </div>
            <!-- user booking ends -->

        </section>
        <aside class="widgets item-responsive item-3">
            <div class="widget follow">
                <div class="title">
                    <strong>Teams</strong>
                    <!-- <a href="">View all</a> -->
                </div>
                <ul>
                    <li>
                        <div class="profile">
                            <img src="avatar.png" alt="Avatar">
                            <div class="info">
                                <div>
                                    <div>
                                        <a href="#" class="no-decor">
                                            <strong>Gabriel</strong>
                                        </a>
                                    </div>
                                    <div class="job-title">job Title</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>

