.container-box {
    display: flex;
    width: 100%;
    font-size: 11px;
}
.container-side {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 5% 6%;
    width:50%;
}
.bg-img{
    width:50%;
}
.bg-img img{
    width:100%;
}
.box-header {
    margin-bottom:50px;
}
.password-show {
    float: right;
    left: -10px;
    position: relative;
    cursor: pointer;
}
.user-roles {
    display: flex;
    justify-content: center;
}
.user-roles div{
    margin-right:10px;

}
.dots-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EBEAEA;
    margin: 0 5px;
}

.dot-active {
    background-color: #32BEA6;
}
@media only screen and (max-width: 950px) {
    /*Big smartphones [426px -> 600px]*/
    .bg-img{
        display:none;
    }
    .container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-side{
        width:100%;
    }
}