.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}


.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  margin-left: 40px;
}

.links-container-edit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 40px;
  /* width: 58px; */
  /* height: 24px; */
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  color: #111111;
}

/* .main {
        height: 100vh;
        background-color: #ffffff;
        margin-left: 5%;
    } */

.Filters-label {
  /* position: absolute; */
  /* width: 102px; */
  /* height: 24px; */
  left: 50px;
  top: 123px;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #212121;
}

.btn-edit {
  /* position: absolute; */
  width: 150px;
  height: 34px;
  margin-left: 23px;
  /* margin-top: 118px; */
  font-style: normal;
  font-weight: 600;
  /* font-size: 14px; */
  /* line-height: 14px; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: -0.1px;
  /* color: #212121; */
}

.Clear-Filters {
  /* position: absolute; */
  /* width: 81px; */
  height: 14px;
  left: 1260px;
  top: 130px;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 14px; */
  margin-left: 10%;
}

.edit-container {
  display: flex;
  justify-content: space-between;
}

.search-input-edit {
  /* position: absolute; */
  /* height: 40px; */
  /* left: 50px; */
  /* right: 99px; */
  /* margin-top: 28px; */
  /* position: absolute; */
  /* left: 38px; */
  /* top: 13px; */
  /* font-family: 'Inter'; */
  background: #ffffff;
  border-radius: 8px;
  width: 95%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #424242;
  border-color: #00000052;
  border: solid 1px #0000004a;
  /* margin-left: 2%; */
  padding: 10px;
}

.Filters-container {
  /* position: absolute; */
  /* height: 80%; */
  background-color: #ffffff;
  padding-top: 118px;
  /* padding-left: 50px; */
  /* padding-top: 3rem; */
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.Spaces-near {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 50px;
}

.card-edit {
}

.card-edit img {
  border-radius: 0%;
  width: 100%;
}

.space-b {
  justify-content: space-between;
}

.main {
  margin: -2% 5%;
}

.grid-container {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    /*background-color: #2f4252;*/
    padding: 10px;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 350px;
  border: 1px solid white;
}

.space-name {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 72px; */
  letter-spacing: -0.015em;
}

.badge {
    width: 100px;
    padding: 3%;
    border-radius: 0%;
    font-size: 0.8rem;
}

.color1 {
  background-color: #331e82;
  color: white;
}

.color2 {
  background: #d9d9d9;
  color: black;
}

.div-space-type-loc {
  margin-top: -2%;
  color: #111111ce;
}

.space-type {
    /*margin-right: 3%;*/
     height: 40px;
    font-size: .9rem;
    overflow:hidden;
}

.space-loc {
}

.div-badges {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 12px;
    flex-direction: row;
    margin-bottom: 15px;
}

.book-now-btn {
    width: 120px;
    font-style: normal;
    font-weight: 600;
    /* align-items: center; */
    text-align: center;
    letter-spacing: -0.1px;
    border-radius: 3px;
}

.div-working {
  justify-content: space-between;
  margin-top: 20px;
}

.time-container {
  justify-content: space-between;
  width: 44%;
}
.love-icon {
    position: absolute;
    z-index: 2;
    left: 5px;
    top: 3px;
    font-size: 2rem;
}
.hall-price {
    position: absolute;
    z-index: 2;
    padding: 4px 10px;
    right: 5px;
    top: 0;
    font-size: .8rem;
    text-align: center;
    background: #212529;
    color: #fff;
}
.slider-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

