html {
    font-size: 14px;
    width:100%;
}
:root {
    --purple-color: #071A84;
}
body {
    font-family: "Poppins", sans-serif !important;
}

.navbar {
    box-sizing: border-box;
    background-color: #ffffff ;
    border-bottom: 1px solid rgba(102, 102, 102, 0.25);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;    
  }
}


.purple-btn {
    background-color: var(--purple-color);
    color: white;
    border:0px;
    border-radius:30px;
    width:150px;
    height:40px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    content: url(../resources/site/calendar-days-solid.svg);
}
a{
    text-decoration:none;
}
.color-purple{
    color:var(--purple-color);
}
.color-white{
    color:white;
}

.fade-in {
    animation: fadeIn .3s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}